{% extends "base.html" %}

{% block content %}
<header class="hero">
    <img src="../static/img/icons8-unter-computer-96.png" class="icon"/>
    <h1 style="text-align: center;justify-content: center; text-transform: uppercase; color: white; margin-top: 1em;">Teste deine Coding-Skills</h1>
    <div class="container">
        <form method="post" action="/assessments">
            <input type="text" name="id" class="form-control key-input" placeholder="Enter a Key" required>
            <button class="btn btn-info" type="submit">Start</button>
        </form>
        <form style="display: inline;" method="get" action="/generate">
            <button  data-toggle="popover" class="btn btn-light" title="Was mache ich mit dem Key?" data-content="Bei uns gibt es keine Login-Daten wie Benutzername oder Passwort. Du kannst dir einen Key generieren" type="submit">Generate Key</button>
        </form>
    </div>
</header>
<div class="container mt-5">
    {% if key %}

    <div class="alert alert-primary" role="alert">
      This is your key: <span class="badge badge-success">{{ key }}</span> - Save it somewhere <a style="text-decoration: underline; color: white;" href="/key-info">more Info</a>
    </div>

    {% endif %}
    <div class="container mt-5">
        <h2>So funktioniert's</h2>
        <div class="row mt-5">
            <div class="col-sm box">
                <div class="number">1</div>
                <div>
                    <img src="https://img.icons8.com/wired/128/000000/course-assign.png" class="numberIcon">
                    <p>Erlerne Programmierskills mittels einer Queller deiner Wahl. Empfehlungen haben wir für dich <a href="#">hier</a></p>
                </div>
            </div>
            <div class="col-sm box" style="background: rgba(0, 195, 255, 0.3)">
                <div class="number" style="background: rgb(0, 195, 255)">2</div>
                <div>
                    <img src="https://img.icons8.com/wired/128/000000/test-failed.png" class="numberIcon">
                    <p>Generiere einen Key und nimm an START.CODE Assessments teil um eine standardisierte Einschätzung deines Wissens zu erhalten</p>
                </div>
            </div>
            <div class="col-sm box" style="background: rgba(255, 81, 0, 0.3)">
                <div class="number" style="background: rgba(255, 81, 0)">3</div>
                <div>
                    <img src="https://img.icons8.com/wired/128/000000/downloads.png" class="numberIcon">
                    <p>Speichere deinen Key irgendwo und komm zurück um an weiteren Tests teilzunehmen und erhalte eine Zertifikat zum Download als Nachweis deiner Kompetenz</p>
                </div>
            </div>
        </div>
    </div>

    {% if error %}

    <script>alert({{ error }})</script>

    {% endif %}
</div>

{% endblock content %}