{% extends "base.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Your personal Key</h1>
    <p class="lead">On this Assessment App we won't store personal information or email Adresses or Passwords. If you want to take a test, you need to generate a Key. With this Key, you can "log in" and take tests. Moreover we will store your Results from previous tests with that key. Because we are not storing any information about you, you have to store the Key yourself. If you loose it, it's gone. However the only thing you are loosing is your information about previous tests. There is nothing more you can loose - just create a new one if you lost it :-)</p>
  </div>
</div>

{% endblock content %}