{% extends "base.html" %}

{% block content %}
<div class="content">
<a class="home-button" href="/assessments"><span class="oi oi-home color" title="home" aria-hidden="true"></span></a>

<h6>{{ question_title }}</h6>

<form action="/assessment/{{ test_name }}/{{ question_number+1 }}" method="post">
    <div class="answers">
        <label>
            <input name="question" type="radio" value="a1"/>
            <span>  {{ a1 }}</span>
        </label>
        <label>
            <input name="question" type="radio" value="a2"/>
            <span>  {{ a2 }}</span>
        </label>
        <label>
            <input name="question" type="radio" value="a3"/>
            <span>  {{ a3 }}</span>
        </label>
    </div>

    {% if last %}

    <button type="submit">Finish</button>

    {% else %}

    <button type="submit">Next</button>

    {% endif%}
    </div>
</form>
{% endblock content %}